
@{
    ViewBag.Title = "SearchDetails";
}

<style>
    .search {
        width: 200px;
    }
</style>

<input type="text" class="search" value="@ViewBag.Search" />
<br />
<div style="padding-top:15px">

    @if (ViewBag.RSSFeed != null)
    {
        foreach (var item in ViewBag.RSSFeed)
        {
    <div style="float:left; width: 70%;">
        <div>
            <strong>@item.Title</strong>
        </div>

        <div>
            @item.Description
        </div>

        <div>
            <a href="@item.Link">@item.Link</a>
        </div>
    </div>

            <div style="float:left; width: 30%; padding-left: 20px;">
                <img width="50" height="50" src="@item.Source" alt="" />
            </div>
        }
    }

</div>

@* Here We need some Jquery code to hanle text box *@
@section Scripts{
    <script>
        $(document).ready(function () {

         $('.search').on('input', function (e) {
            debugger
            //alert("The text has been changed.");
            var search = $(".search").val();
            $('.details').load('@Url.Action("SearchDetails", "RSSFeed")', { search: search});

         });


         //$(".search").change(function () {
         //});

        });
    </script>
}



